[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc_version = "0.8.26"
optimizer = true
optimizer_runs = 200
via_ir = true
evm_version = "cancun"

[rpc_endpoints]
sepolia = "${SEPOLIA_RPC_URL}"
unichain_sepolia = "https://sepolia.unichain.org"
base_sepolia = "${BASE_SEPOLIA_RPC_URL}"
